.contenedor {
  width: 480px;
  min-height: 500px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;

}
h1 {
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
}

.entrada {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
input {
  height: 85%;
  width: 70%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  display: flex;
}
button {
  height: 85%;
  width: 25%;
}

.lista {
  width: 90%;
  min-height: 300px;
  display: inline;
}

.parrafo {
  width: 75%;
  min-height: 50px;
  border: 2px solid black;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  
  
  
}
.botones {
  width: 20%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
  
}
.eliminar,.actualizar {
  width: 30px;
  height: 30px;
}

.tarea-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  


}